@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root {
    --v1-primary: #FFB400;
    --v1-dark: #2B2B2B;
    --v2-dark: #18191A;
    --v3-dark: #3A3B3C;
    --v4-dark: #242526;
    --paragraph: #767676;
    --v1-light: #F0F0F6;
    --v2-light: #E4E6EB;
    --v3-light: #2B2B2B;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    color: var(--paragraph);
    background: var(--v1-light);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}